@import 'abstracts/variables';
@import 'abstracts/mixins';

.container ul.products li.product{ //Pojedyńcza karta produktu
    list-style-type: none;
    background-color: $color-white;
    border-radius: 3px;
    padding: 1rem;
    border: 1px solid transparent;
    transition: all .3s ease;
    

    a{
        text-decoration: none;
        color: $color-black;

        h2{
            font-weight: 400;
            //font-size: 2.4rem;

            @include respond(tab-port){
                font-size: 2rem;
            }
        }

        span.price{
            font-weight: 100;
        }
    }

    &:hover{
        border: 1px solid $color-primary;
        box-shadow: 0px 0px 15px rgba($color-black, .3);
    }

    .attachment-woocommerce_thumbnail{ //img
        border-radius: 3px;
    }
}

.woocommerce-ordering{ //lista wyboru sortowania
    margin: 1rem .5rem;
    

    select{
        border-radius: 4px;
        border-color: $color-primary-dark;
        padding: .3rem;
    }
}

.woocommerce-pagination .page-numbers{ //pagination

    li{
        display: inline-block;
        color: $color-white;

        span.current{
            background-color: $color-primary-dark;
            text-decoration: none;
            display: inline-block;
            padding: .5rem 1rem;
        }
        a.page-numbers{
            &:link,
            &:visited{
                background-color: $color-primary;
                color: inherit;
                text-decoration: none;
                display: inline-block;
                padding: .5rem 1rem;
            }

            &:hover{
                background-color: $color-primary-dark;
            }

        }
    }
}

//Widget:
//Search Form

.widget.woocommerce.widget_product_search{

    border-bottom: 1px solid $color-primary-dark;
    padding-bottom: 2rem;
    form{
        .search-field{
            padding: 1rem;
            border-radius: 10px;
            border: 1px solid $color-grey-dark;
            width: 80%;
            margin: auto;
            display: block;

            &:focus{
                border: 1px solid $color-primary;
            }
        }

        button{
            display: block;
            background-color: $color-primary;
            color: $color-white;
            border: none;
            border-radius: 2rem;
            padding: 1rem 2rem;
            margin: 1rem auto auto auto;
            font-family: inherit;
            cursor: pointer;
            transition: all .2s;

            &:hover{
                transform: translateY(-3px);
                box-shadow: 0px 0px 15px rgba($color-black, .3);
            }

            &:active{
                transform: translateY(3px);
                background-color: $color-primary-dark;
            }
        }
    }
}

//Kategorie

.sidebar{
    li.widget_product_categories{
        margin-top: 1.5rem;

        @include respond(tab-port){
            display: none;
        }

        h4{
            font-size: 2.3rem;
            font-weight: 400;
            text-align: center;
            padding-bottom: .5rem;
            color: $color-black;
        }

        .product-categories{

            li{
                list-style-type: none;

                a:link, a:visited{
                    display: block;
                    padding: 0 2rem;
                    font-size: 1.6rem;
                    font-weight: 100;
                    text-decoration: none;
                    color: $color-black;
                    transition: ease background-color .05s;

                    &:hover{
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }

                &.current-cat{
                    background-color: $color-primary;
                    a{
                        color: $color-white;
                    } 
                }

                &.cat-parent{
                    .children{
                        //display: none;
                        li{
                            a{
                                font-size: 1.3rem;
                                padding-left: 4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    li.widget_product_categories:nth-child(3){
        display: none;

        span{
            color:black
        }

        @include respond(tab-port){
            display: block;
        }
    }
}
//Strona produktu
.container div.product.type-product{

    .woocommerce-product-gallery{
        ol{
            list-style: none;

            li{
                display: inline-block;
                border: 2px solid transparent;
                cursor: pointer;
            }
            .flex-active{
                border: 2px solid $color-primary-dark;
            }
        }
    }

    .summary.entry-summary{
        .product_title.entry-title{
            font-size: 3.5rem;
            font-weight: 400;
        }
        .price{
            font-weight: 100;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .woocommerce-product-details__short-description{
            margin-bottom: 2rem;
            font-weight: 400;
        }
        .product_meta{
            border-top: solid 1px $color-primary-dark;
            padding-top: 1.5rem;
        }
    }

    section.related.products{
        border-top: 1px solid $color-primary;
        margin-top: 8rem;
    }

    .tabs.wc-tabs{
        display: none;
    }

    .woocommerce-tabs.wc-tabs-wrapper{
        h2{
             font-weight: 400;
        }
        
    }

    .related.products{
        h2{
            font-weight: 400;
        }
    }
}

