$color-primary: #2e7d32;
$color-primary-dark: #005005;
$color-primary-light: #60ad5e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e0e0e0;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$grid-width: 125rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 1rem;