.header{
    font-family: 'Great Vibes', cursive;
    background-color: $color-primary;
    max-width: 100%;
    box-shadow: 0px 0px 20px rgba($color-black, .25);

    &__logo-box{
        position: absolute;
        top: 0.5rem;
        width: 25rem;

        @include respond(tab-port){
            top: 1rem;
            width: 20rem;
        }
    }

    &__logo{
        max-width: 100%;
        height: auto !important;
    }

    &__navbar{
        float: right;

        .menu{
            list-style-type: none;
            margin: 0;
            padding: 0;


            li {
                display: inline;

                a:link,a:visited{
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    font-size: 2.5rem;
                    padding: 1rem 1rem;
                    transition: ease all .2s;
                    color: $color-white;
                }

                a:hover{
                    background-color: $color-primary-dark;
                }
            }
        }
    }


}